html {
    font-family: sans-serif;
    background: #eee;
    padding:0px;
}

body {
    margin:0px;
    padding:0px;
    background: white;
}

.navtable {
    margin: 0px;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px;
}

.logo {
    height:50px;
}

html body div.heading {
    padding: 15px;
    display: inline;
    font-size: x-large;
    font-weight: bolder;
}

html body div.item {
    padding: 15px;
    width: 140px;
    display: inline;
    text-align:right;
    font-size: large;
}

div.content{
    padding:15px;
}

div.footer{
    text-align:center;
    font-size: small;
    padding: 15px;
    border-top: 1px solid black;
}

.list_table {
    border-collapse:collapse;
}

.list_table tbody tr:nth-child(1){
    border-top:2px solid black;
    border-bottom:2px solid black;
}

.list_table tbody tr th {
    padding:5px;
}

.list_table tbody tr td {
    padding:7px;
}

.list_table tbody tr:nth-child(odd) {
    background:#DDD;
}

.target_info_table{
    border-collapse:collapse;
}

.target_info_table tbody tr:nth-child(odd) {
    background:#DDD;
}

.target_info_table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.target_info_table tbody tr td {
    padding: 5px;
}

.target_info_table tbody tr td:nth-child(1) {
    font-weight: bold;
}

#experiment-documentation-container {
    max-width: 900px;
}
