
{% macro plot_stat_trace(
    stat_trace_id,
    tgtid=None,
    eid=None,
    ttid=None,
    corid=None,
    stid=None
) -%}
{{url_for("plot.render_statistic_trace",tid=stat_trace_id)}}?
{%- if tgtid -%} tgtid={{tgtid}}& {%- endif %}
{%- if eid   -%} eid={{eid  }}& {%- endif %}
{%- if ttid  -%} ttid={{ttid }}& {%- endif %}
{%- if corid -%} corid={{corid}}& {%- endif %}
{%- if corid -%} stid={{corid}}& {%- endif %}
{%- endmacro %}

{% macro link_target(target) -%}
<a href="{{url_for("targets.show_target",id=target.id)}}">{{target.name}}</a>
{%- endmacro %}

{% macro link_experiment(experiment) -%}
<a href="{{url_for("experiments.show_experiment",id=experiment.id)}}">{{experiment.fullname}}</a>
{%- endmacro %}


{% macro targets_list_table(targets, experiment=None) -%}

<table class="list_table">
<tr>
<th>Target Name</th>
<th>Core</th>
<th>Device</th>
<th>Board</th>
<th>Description</th>
{% if experiment %}
<th>Experiment</th>
{% endif %}
</tr>
{% for target in targets %}
    <tr>
    <td>
    <a href="{{url_for("targets.show_target",id=target.id)}}">{{target.name}}</a>
    </td>
    <td> {% if target.core %}
    <a href="{{url_for("targets.show_core",id=target.core.id)}}">{{target.core.name}}</a>
    {% endif %} </td>
    <td> {% if target.device %}
    <a href="{{url_for("targets.show_device",id=target.device.id)}}">{{target.device.name}}</a>
    {% endif %} </td>
    <td> {% if target.board %}
    <a href="{{url_for("targets.show_board",id=target.board.id)}}">{{target.board.name}}</a>
    {% endif %} </td>
    <td>{{target.description}}</td>
{% if experiment %}
    <td>
    <a href="{{url_for("experiments.show_experiment",id=experiment.id)}}">Details</a>,
    <a href="{{url_for("experiments.show_results", eid=experiment.id, tid=target.id)}}">Results</a>
    </td>
{% endif %}
    </tr>
{% endfor %}
</table>

{%- endmacro %}


{% macro cores_list_table(cores) -%}

<table class="list_table">
<tr>
<th>Core</th>
<th>Type</th>
<th>Manufacturer</th>
<th>Architecture</th>
<th>Description</th>
</tr>
{% for core in cores %}
<tr>
<td><a href="{{url_for("targets.show_core",id=core.id)}}">{{core.name}}</a></td>
<td>{{core.coretype}}</td>
<td><a target="_blank" href="{{core.manufacturer_link}}">{{core.manufacturer_name}}</a></td>
<td><a target="_blank" href="{{core.architecture_link}}">{{core.architecture_name}}</a></td>
<td><a target="_blank" href="{{core.product_link}}">Product Link</a></td>
</tr>
{% endfor %}
</table>

{%- endmacro %}


{% macro corrolation_analysis_list_table(corrs) -%}
<table class="list_table">
<tr>
<td>ID</td>
<td>Name</td>
<td>Type</td>
<td>Variables</td>
<td>Parameters</td>
<td>Trace</td>
</tr>
{% for corr in corrs %}
<tr>
<td>{{corr.id}}</td>
<td>{{corr.name}}</td>
<td>{{corr.corrType.name}}</td>
<td>
{% for var in corr.inputVariables -%}
{{var.varname}},
{%- endfor %}
</td>
<td>
{% for blob in corr.inputTraceSets -%}
{% for var in blob.variableValues -%}
{% if var.is_fixed %}
{{var.varname}} = {{var.getValuesAsNdArray()[0]}},
{% endif %}
{%- endfor %}
{%- endfor %}
</td>
<td>
<a href="{{url_for("plot.plot_view_corrolation_statistic",tid=corr.id)}}">Plot</a>,
Download
</td>
</tr>
{% endfor %}
</table>
{%- endmacro %}


{% macro ttests_list_table(ttests) -%}
<table class="list_table">
<tr>
<th>ID</th>
<th>Timestamp</th>
<th>Parameters</th>
<th>Trace count<br/>Fixed/Random</th>
<th>Trace<br/>Length</th>
<th>Target<br/>Frequency</th>
<th>Download<br/>Traces</th>
<th>TStatistic</th>
</tr>
{% for ttest in ttests %}
<tr>
<td>{{ttest.id}}</td>
<td>{{ttest.timestamp.strftime('%Y-%m-%d %H:%M')}}</td>
<td>
{% for param in ttest.parameterDict %}
{{param}}={{ttest.parameterDict[param]}},
{% endfor %}
</td>
<td>
{{ttest.fixedTraceSet.traceCount}} /
{{ttest.randomTraceSet.traceCount}}
</td>
<td>{{ttest.fixedTraceSet.traceLen}}</td>
<td>{{ttest.targetFreq}}</td>
<td>
    Fixed,
    Random
</td>
<td>
{% if ttest.tStatisticTrace %}
<a href="{{url_for("plot.plot_view_tstatistic",tid=ttest.id)}}">Plot</a>,
Download
{% endif %}
</td>
</tr>
<tr>
<td>-</td>
<td colspan="7">

Random traces - Derived Statistic Traces:
<ul>
{% for strace in ttest.randomTraceSet.statisticTraces %}
<li>
{{strace.stat_type}} -
<a href="{{url_for("plot.plot_statistic_trace",eid=ttest.experimentId,tid=ttest.targetId,stid=strace.id)}}">Plot</a>
</li>
{% endfor %}
</ul>

Fixed traces - Derived Statistic Traces:
<ul>
{% for strace in ttest.fixedTraceSet.statisticTraces %}
<li>
{{strace.stat_type}} -
<a href="{{url_for("plot.plot_statistic_trace",eid=ttest.experimentId,tid=ttest.targetId,stid=strace.id)}}">Plot</a>
</li>
{% endfor %}
</ul>


</td>
</tr>
{% endfor %}
</table>
{%- endmacro %}


{% macro experiments_list_table(experiments, target=None) -%}

<table class="list_table">
<tr>
<th>Catagory</th>
<th>Name</th>
<th>Description</th>
{% if target %}
<th>Results</th>
{% endif %}
</tr>
{% for experiment in experiments %}
<tr>
<td>{{experiment.catagory}}</td>
<td><a href="{{url_for("experiments.show_experiment",id=experiment.id)}}">{{experiment.name}}</a></td>
<td>{{experiment.description}}</td>
{% if target %}
<td>
<a href="{{url_for("experiments.show_results",eid=experiment.id,tid=target.id)}}">View</a>
</td>
{% endif %}
</tr>
{% endfor %}
</table>

{%- endmacro %}


{% macro board_info_table(board) -%}

<table class="list_table">
<tr>
<th>Field</th>
<th>Value</th>
<tr>
<tr>
<td>Name</td>
<td>{% if board.product_link %}
    <a target="_blank" href="{{board.product_link}}">
    {{board.name}}</a>
    {% else %}
    {{board.name}}
    {% endif %}
</td>
</tr>
<td>Description</td>
<td>{{board.description}}</a></td>
</tr>
<tr>
<td>Manufacturer</td>
<td>{{board.manufacturer}}</td>
</tr>
</table>

{%- endmacro %}



{% macro core_info_table(core) -%}

<table class="list_table">
<tr>
<th>Field</th>
<th>Value</th>
<tr>
<tr>
<td>Name</td>
<td><a target="_blank" href="{{core.product_link}}">
{{core.name}}</a></td>
</tr>
<td>Architecture</td>
<td><a target="_blank" href="{{core.architecture_link}}">
{{core.architecture_name}}</a></td>
</tr>
<tr>
<td>Manufacturer</td>
<td><a target="_blank" href="{{core.manufacturer_link}}">
{{core.manufacturer_name}}</a></td>
</tr>
<tr>
<td>Type</td>
<td>{{core.coretype}}</td>
</tr>
<tr>
<td>Description</td>
<td>{{core.description}}</td>
</tr>
</table>

{%- endmacro %}


{% macro device_info_table(device) -%}

<table class="list_table">
<tr>
<th>Field</th>
<th>Value</th>
<tr>
<tr>
<td>Name</td>
<td>{% if device.product_link %}
    <a target="_blank" href="{{device.product_link}}">
    {{device.name}}</a>
    {% else %}
    {{device.name}}
    {% endif %}
</td>
</tr>
<td>Description</td>
<td>{{device.description}}</a></td>
</tr>
<tr>
<td>Manufacturer</td>
<td>{{device.manufacturer}}</td>
</tr>
<tr>
<td>Datasheet</td>
<td><a target="_blank" href="{{device.datasheet_link}}">
Download</a></td>
</tr>
</table>

{%- endmacro %}
