{% extends 'master.html' %}

{% block header %}
<h1>{% block title %}Compare Traces{% endblock %}</h1>
{% endblock %}

{% block javascript %}

var series = [];

var traces_per_experiment_and_device = {
{% for experiment in experiments%}
    "{{experiment}}" : {
{% for target in experiments[experiment].targetNames | sort %}
    "{{target}}" : [
        {% set eresults = experiments[experiment].getResultsForTarget(target) %}
        {% for trace in eresults.traceNames | sort%}
            "{{trace}}",
        {% endfor %}
    ],
{% endfor %}
},
{% endfor %}
}

var devices_per_experiment= {
{% for experiment in experiments%}
    "{{experiment}}" : [
{% for target in experiments[experiment].targetNames | sort %}
    "{{target}}",
{% endfor %}
],
{% endfor %}
}

function update_devices_for_experiment(series) {
    experiment = document.getElementById(series+"_experiment").value;
    target     = document.getElementById(series+"_target");

    var prev_value = target.value;
    
    while(target.options.length > 0) {
        target.options.remove(0);
    }
    
    for (t in devices_per_experiment[experiment]) {
        var opt     = document.createElement("option");
        opt.text    = devices_per_experiment[experiment][t];
        opt.value   = devices_per_experiment[experiment][t];
        if(t == prev_value) {
            opt.selected="selected";
        }
        target.options.add(opt);
    }
}

function update_traces_for_experiment_and_device(
    series
) {
    experiment = document.getElementById(series+"_experiment").value;
    target     = document.getElementById(series+"_target").value;
    traces     = document.getElementById(series+"_trace");
    
    tlist      = traces_per_experiment_and_device[experiment][target];

    var prev_value = traces.value;
    
    while(traces.options.length > 0) {
        traces.options.remove(0);
    }

    for (t in tlist) {
        var opt     = document.createElement("option");
        opt.text    = tlist[t];
        opt.value   = tlist[t];
        if(t.value == prev_value) {
            opt.selected="selected";
        }
        traces.options.add(opt);
    }
}

function drawGraph(){
    const Http = new XMLHttpRequest();
    const url='{{url_for("plot.plot_multiple_traces")}}?' +
    "series1_exp="+document.getElementById("series1_experiment").value+
    "&series1_dev="+document.getElementById("series1_target").value+
    "&series1_trs="+document.getElementById("series1_trace").value+
    "&series1_trim_start="+document.getElementById("series1_start_trim").value+
    "&series1_trim_end="+document.getElementById("series1_end_trim").value+
    "&series2_exp="+document.getElementById("series2_experiment").value+
    "&series2_dev="+document.getElementById("series2_target").value+
    "&series2_trs="+document.getElementById("series2_trace").value+
    "&series2_trim_start="+document.getElementById("series2_start_trim").value+
    "&series2_trim_end="+document.getElementById("series2_end_trim").value+
    "&sep_axes="+document.getElementById("separate_axes").checked;
    Http.open("POST", url);
    Http.send();
    
    graph.src="";

    Http.onreadystatechange = (e) => {
        if(Http.responseText != "") {
            graph.src="{{url_for("plot.get_requested_plot")}}?imgid="+
                Http.responseText;
        }
    }
}

{% endblock %}

{% macro experiment_select_box(name) %}
<select name="{{name}}_experiment" id="{{name}}_experiment"
    autocomplete="off"
    onchange="update_devices_for_experiment('{{name}}');">
    {% for experiment in experiments %}
    <option
        {%if fix_experiment == experiment %} selected="selected" {%endif%}
        value="{{experiment}}">{{experiment}}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro target_select_box(name,preselect) %}
<select name="{{name}}_target" id="{{name}}_target" autocomplete="off"
    onchange="update_traces_for_experiment_and_device('{{name}}');"
    onclick="update_traces_for_experiment_and_device('{{name}}');">
    {% for target in targets.keys() | sort %}
    <option 
    {%if target==preselect%} selected="selected" {%endif%}
    label="{{targets[target].target_description}}"
    value="{{target}}">{{target}}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro trace_select_box(name) %}
<select name="{{name}}_trace" id="{{name}}_trace" autocomplete="off"
    onload="update_traces_for_experiment_and_device('{{name}}');">
</select>
{% endmacro %}

{% macro trim_box(name,end) %}
<input name="{{name}}_{{end}}_trim" id="{{name}}_{{end}}_trim"
    type="number" width="100px" value="0"/>
{% endmacro %}

{% block content %}

<table>
<tr>
<th>Series</th>
<th>Experiment</th>
<th>Target</th>
<th>Trace</th>
<th>Trim Start</th>
<th>Trim End</th>
</tr>
<tr>
<td>Series 1</td>
<td>{{experiment_select_box("series1")}}</td>
<td>{{target_select_box("series1")}}</td>
<td>{{trace_select_box("series1")}}</td>
<td>{{trim_box("series1","start")}}</td>
<td>{{trim_box("series1","end")}}</td>
</tr>
<tr>
<td>Series 2</td>
<td>{{experiment_select_box("series2")}}</td>
<td>{{target_select_box("series2")}}</td>
<td>{{trace_select_box("series2")}}</td>
<td>{{trim_box("series2","start")}}</td>
<td>{{trim_box("series2","end")}}</td>
</tr>
</table>
Seperate Axes: <input type="checkbox" name="separate_axes" id="separate_axes"/> |
<input type="button" value="Draw" onclick="drawGraph();"/>
<hr/>
<img name="graph" id="graph"/>

{% endblock %}




