{% extends 'master.html' %}
{% import "common.html" as common %}

{% block header %}
<h1>View {{plotType}} Plot</h1>
{% endblock %}

{% block content %}

<p>
<ul>
<li>Experiment: {{common.link_experiment(experiment)}}</li>
<li>Target: {{common.link_target(target)}}</li>
</ul>
</p>

<p>
{% if ttest %}
{{ common.ttests_list_table([ttest]) }}
{% endif %}
{% if corr %}
{{ common.corrolation_analysis_list_table([corr]) }}
{% endif %}
<p>

{% if strace %}
<img style="border: 1px solid black; padding-top: 5px;" src="{{common.plot_stat_trace(stid,eid=experiment.id,tgtid=target.id,stid=stid)}}"/>
{% endif %}

{% if ttest %}
<img style="border: 1px solid black; padding-top: 5px;" src="{{common.plot_stat_trace(stid,eid=experiment.id,tgtid=target.id,ttid=ttest.id)}}"/>
{% endif %}

{% if corr %}
<img style="border: 1px solid black; padding-top: 5px;" src="{{common.plot_stat_trace(stid,eid=experiment.id,tgtid=target.id,corid=corr.id)}}"/>
{% endif %}

{% if disasm %}
<pre>
{{disasm}}
</pre>
{% endif %}

{% if pbin %}
<ul>
{% if pbin.binary %}
<li><a target="_blank" href="{{url_for("experiments.download_binary",pid=pbin.id)}}">Download Program Binary</a></li>
{% endif %}
{% if pbin.disasm%}
<li><a target="_blank" href="{{url_for("experiments.download_disassembly",pid=pbin.id)}}">Download Program Disassembly</a></li>
{% endif %}
</ul>
{% endif %}

{% endblock %}



