{% extends 'master.html' %}

{% block header %}
<h1>{% block title %}Pipeline Operand Registers{% endblock %}</h1>
{% endblock %}

{% block javascript %}

function update_report() {
    window.location = 
        '?target='      + target.value      +
        '&trace_type='   + trace_type.value   +
        '&normalise_axes=' + normalise_axes.checked;
}

{% endblock %}


{% macro graphplot(ename,target,normalise_axes,trace_type) %}

<h3>
<a href="{{url_for("experiments.experiment_landing_page",
    catagory="pipeline",
    experiment_name=ename+"-lhs")}}">
pipeline/{{ename}}-lhs</a> , 
<a href="{{url_for("experiments.experiment_landing_page",
    catagory="pipeline",
    experiment_name=ename+"-rhs")}}">
pipeline/{{ename}}-rhs</a>
</h3>

<img src="{{url_for("reports.pipeline_registers_plot",
    target_name=target.target_name,
    ename=ename)}}?normalise_axes={{normalise_axes}}&trace_type={{trace_type}}"/>

{% endmacro %}


{% block content %}

Target Device:
<select name="target" id="target"
    onchange="update_report();"/>
    {% for tname in targets.keys() | sort %}
    <option 
    {%if tname==target.target_name %} selected="selected" {%endif%}
    label="{{targets[tname].target_description}}"
    value="{{tname}}">
    {{tname}} - {{targets[tname].target_description}}
    </option>
    {% endfor %}
</select><br/>
Trace To Plot:
<select id="trace_type" name="trace_type" onchange="update_report();">
    <option value="ttrace"
    {% if trace_type == "ttrace"%} selected="selected" {% endif %}>
    T-Trace</option>
    <option value="cpa-hd"
    {% if trace_type == "cpa-hd"%} selected="selected" {% endif %}>
    Hamming Distance</option>
    <option value="cpa-hw"
    {% if trace_type == "cpa-hw"%} selected="selected" {% endif %}>
    Hamming Weight</option>
    <option value="std"
    {% if trace_type == "std"%} selected="selected" {% endif %}>
    Standard deviation</option>
    <option value="avg"
    {% if trace_type == "avg"%} selected="selected" {% endif %}>
    Average Trace</option>
</select><br/>
Normalise Axes:
<input type="checkbox" id="normalise_axes" onchange="update_report();"
{% if normalise_axes =="true" %} checked="true" {%endif%}/> | 
<input type="button" value="Show Report" onclick="update_report();"/>

<hr/>

{% if target %}
<h2>Report for
<a href="{{url_for("targets.target_landing_page",
    target_name=target.target_name,
    trace_type=trace_type,
    normalise_axes=normalise_axes)}}">{{target.target_name}}</a></h2>

{{ graphplot("regs-lshf",target,normalise_axes,trace_type) }}
{{ graphplot("regs-rshf",target,normalise_axes,trace_type) }}
{{ graphplot("regs-xor",target,normalise_axes,trace_type) }}
{{ graphplot("regs-xor-mov",target,normalise_axes,trace_type) }}

{% endif %}

{% endblock %}


