{% extends 'master.html' %}

{% block header %}
<h1>{% block title %}Reports{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    This page lists special "report" pages, which answer specific questions
    about a particular micro-architectural effect or feature.
</p>
<table class="list_table">
<tr>
<td>Name</td>
<td>Description</td>
</tr>
<tr>
    <td>
    <a href="{{url_for("reports.memory_bus_widths")}}">Memory Bus Widths</a>
    </td>
    <td>
        When loading and storing sub-word data between the CPU and memory,
        how much adjacent data is communicated across the bus?
    </td>
</tr>
<tr>
    <td>
    <a href="{{url_for("reports.memory_access_hazards")}}">Memory Access Hazards</a>
    </td>
    <td>
        Do memory accesses implicitly access state, which is overwritten
        by subsequent memory accesses?
    </td>
</tr>
<tr>
    <td>
    <a href="{{url_for("reports.pipeline_registers")}}">Pipeline Operand Registers</a>
    </td>
    <td>
        Which operands of different instructions are routed through the
        same pipeline registers, and which do not interract?
    </td>
</tr>
<tr>
    <td>
    <a href="{{url_for("reports.speculation")}}">Speculative Execution</a></td>
    <td>
        Can we detect the results of speculative executions, even in
        shallow pipelines?
    </td>
</tr>
<tr>
    <td>
    <a href="{{url_for("reports.rosita")}}">ROSITA Countermeasures</a></td>
    <td>
        Repetition and generalisation study of the ROSITA paper
        software countermeasures.
    </td>
</tr>
</table>

{% endblock %}


