{% extends 'master.html' %}

{% block header %}
<h1>{% block title %}Memory Bus Widths{% endblock %}</h1>
{% endblock %}

{% block javascript %}

function update_report() {
    window.location = 
        '?target='      + target.value      +
        '&trace_type='   + trace_type.value   +
        '&normalise_axes=' + normalise_axes.checked;
}

{% endblock %}

{% macro graphplot(target,ldst,trace_type,width,normalise_axes) %}
<h3>
<a href="{{url_for("experiments.experiment_landing_page",
    catagory="memory-bus",
    experiment_name="bus-width-"+ldst+"-"+width)}}">
bus-width-{{ldst}}-{{width}}</a> / 
<a href="{{url_for("experiments.experiment_results_page",
catagory="memory-bus",
experiment_name="bus-width-"+ldst+"-"+width,
target_name=target.target_name)}}">{{target.target_name}}</a>
</h3>

<img src="{{url_for("reports.memory_bus_widths_plot_bytes",width=width,target_name=target.target_name,
    trace_type=trace_type, ldst=ldst,
    normalise_axes=normalise_axes)}}" />
{% endmacro %}

{% block content %}

Target Device:
<select name="target" id="target"
    onchange="update_report();"/>
    {% for tname in targets.keys() | sort %}
    <option 
    {%if tname==target.target_name %} selected="selected" {%endif%}
    label="{{targets[tname].target_description}}"
    value="{{tname}}">
    {{tname}} - {{targets[tname].target_description}}
    </option>
    {% endfor %}
</select><br/>
Trace To Plot:
<select id="trace_type" onchange="update_report();">
    <option value="ttrace"
    {% if trace_type == "ttrace"%} selected="selected" {% endif %}
    >T-Trace</option>
    <option value="cpa-hw"
    {% if trace_type == "cpa-hw"%} selected="selected" {% endif %}
    >Hamming Weight</option>
</select><br/>
Normalise Axes:
<input type="checkbox" id="normalise_axes" onchange="update_report();"
{% if normalise_axes =="true" %} checked="true" {%endif%}/> | 
<input type="button" value="Show Report" onclick="update_report();"/>

<hr/>

{% if target %}
<h2>Report for
<a href="{{url_for("targets.target_landing_page",
    target_name=target.target_name,
    trace_type=trace_type,
    normalise_axes=normalise_axes)}}">{{target.target_name}}</a></h2>

{{graphplot(target,"ld",trace_type,"bytes",normalise_axes)}}
{{graphplot(target,"ld",trace_type,"halfword",normalise_axes)}}
{{graphplot(target,"ld",trace_type,"word",normalise_axes)}}
{{graphplot(target,"st",trace_type,"bytes",normalise_axes)}}
{{graphplot(target,"st",trace_type,"halfword",normalise_axes)}}
{{graphplot(target,"st",trace_type,"word",normalise_axes)}}


{% endif %}

{% endblock %}


