{% extends 'master.html' %}

{% block header %}
<h1>Target: {{target.name}}</h1>
{% endblock %}

{% block content %}
<h2>Target Details:</h2>

<table>
<tr>
    <td>Implementation Type:</td>
    <td>{{target.type_implementation}}</td>
    <td></td>
</tr>
<tr>
    <td>CPU Name:</td>
    <td>{{target.cpu_name}}</td>
    <td>
        {% if target.cpu_link %}
        <a href="{{target.cpu_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>CPU Architecture:</td>
    <td>{{target.cpu_arch_name}}</td>
    <td>
        {% if target.cpu_arch_link %}
        <a href="{{target.cpu_arch_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>CPU Pipeline Depth:</td>
    <td>{{target.cpu_pipeline_depth}}</td>
    <td></td>
</tr>
<tr>
    <td>CPU Manufacturer:</td>
    <td>{{target.cpu_manufacturer_name}}</td>
    <td>
        {% if target.cpu_manufacturer_link %}
        <a href="{{target.cpu_manufacturer_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Device/SoC Name:</td>
    <td>{{target.type_device_name}}</td>
    <td>
        {% if target.type_device_link %}
        <a href="{{target.type_device_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Device/SoC Manufacturer:</td>
    <td>{{target.type_device_manufacturer_name}}</td>
    <td>
        {% if target.type_device_manufacturer_link %}
        <a href="{{target.type_device_manufacturer_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Board Name:</td>
    <td>{{target.type_board_name}}</td>
    <td>
        {% if target.type_board_link %}
        <a href="{{target.type_board_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Board Manufacturer:</td>
    <td>{{target.type_board_manufacturer_name}}</td>
    <td>
        {% if target.type_board_manufacturer_link%}
        <a href="{{target.type_board_manufacturer_link}}" target="_blank">Details</a>
        {% endif %}
    </td>
</tr>
</table>

<p>
<a href="/targets">Back to target list</a>
</p>

{% endblock %}


