{% extends 'master.html' %}

{% block header %}
  <h1>{% block title %}Targets{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
This is the current set of devices which have been analysed as
part of the study.
</p>

<p>
Clicking through will given more information on each device,
and links to the relevent CPU, Architecture and manufacturer documentation.
</p>

<p>
Targets are broken down by CPU type, SoC / Device type and development
board.
This allows for differences between the same CPU implemented by
different manufacturers, or the same SoC integrated on different
circuit boards to be captured.
</p>

<table class="list_table">
<tr>
<th>Target Name</th>
<th>Type</th>
<th>Device Name</th>
<th>Board Name</th>
<th>CPU Architecture</th>
<th>CPU Core</th>
<th>Pipeline Depth</th>
</tr>
{% for tname in targets.keys() | sort %}
    {% set target = targets[tname] %}
    <tr>
    <td><a href="{{url_for("targets.target_landing_page",target_name=target.target_name)}}">{{target.target_name}}</a></td>
    <td>{{target.target_implementation}}</td>
    <td>{{target.device_manufacturer_name}} {{target.device_name}}</td>
    <td>{{target.board_name}}</td>
    <td>{{target.cpu_arch_name}}</td>
    <td>{{target.cpu_core_name}}</td>
    <td>{{target.cpu_core_pipeline_depth}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

