[submodule "external/scale-hw"]
	path = external/scale-hw
	url = https://github.com/danpage/scale-hw.git
[submodule "external/fw-acquisition"]
	path = external/fw-acquisition
	url = https://github.com/scarv/fw-acquisition.git
