[submodule "extern/scale-hw"]
	path = extern/scale-hw
	url = https://github.com/danpage/scale-hw.git
[submodule "extern/fw-acquisition"]
	path = extern/fw-acquisition
	url = git@github.com:scarv/fw-acquisition.git
[submodule "extern/miracle-db"]
	path = extern/miracle-db
	url = git@github.com:scarv/miracle-db.git
[submodule "extern/miracle-browser"]
	path = extern/miracle-browser
	url = git@github.com:scarv/miracle-browser.git
[submodule "extern/texmf"]
	path = extern/texmf
	url = ssh://git@github.com/scarv/texmf.git
