{% extends 'master.html' %}
{% import "common.html" as common %}

{% block css %}
<style type="text/css">
.info-table {
    vertical-align:top;
    padding:5px;
}
</style>
{% endblock %}

{% block header %}
<h1>
<a href="{{url_for("targets.list_targets")}}">Cores</a> /
{{core.name}}
</h1>
{% endblock %}

{% block content %}
<h2>Core Details:</h2>

<p>
{{core.description}}
</p>

{{common.core_info_table(core)}}

<h2>Targets Using This Core:</h2>

{{common.targets_list_table(targets)}}

{% endblock %}


