{% extends 'master.html' %}
{% import "common.html" as common %}

{% block header %}
  <h1>{% block title %}Targets, Devices and Boards{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
Each target represents a system, or system component which has been
analysed as part of the study. A target is a tuple of three
sub-components:
<ul>
<li>The silicon <i>device</i> being analysed. This is usually
    "the microchip" in the system.</li>
<li>A specific <i>core</i> inside that device which has been analysed.
    This might be a CPU or hardware accelerator.</li>
<li>The circuit <i>board</i> and wider electronic system within which the
    device exists. This is recorded to capture differences in how different
    circuit setups for the same device might leak differently.
    For example, different setups in the power supply network.
    This also helps capture FPGA based platforms, where the same board
    and device might host many different cores.</li>
</ul>

Splitting the description of targets this way allows for finding differences
between the same CPU, implemented on different devices.
Or how differences in the wider system might cause the same device
to leak differently.
</p>

<a name="targets"></a>
<h2>Targets</h2>

{{common.targets_list_table(targets)}}

<a name="Cores"></a>
<h2>Cores</h2>

{{common.cores_list_table(cores)}}

{% endblock %}

