{% extends 'master.html' %}

{% block header %}
  <h1>{% block title %}Targets{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
This is the current set of devices which have been analysed as
part of the study.
</p>

<p>
Clicking through will given more information on each device,
and links to the relevent CPU, Architecture and manufacturer documentation.
</p>

<p>
Targets are broken down by CPU type, SoC / Device type and development
board.
This allows for differences between the same CPU implemented by
different manufacturers, or the same SoC integrated on different
circuit boards to be captured.
</p>

<table class="list_table">
<tr>
<th>Target Name</th>
<th>Description</th>
</tr>
{% for target in targets %}
    <tr>
    <td>{{target.name}}</td>
    <td>{{target.description}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

