{% extends 'master.html' %}
{% import "common.html" as common %}

{% block css %}
<style type="text/css">
.info-table {
    vertical-align:top;
    padding:5px;
}
</style>
{% endblock %}

{% block header %}
<h1>
<a href="{{url_for("targets.list_targets")}}">Targets</a> /
{{target.name}}
</h1>
{% endblock %}

{% block content %}
<h2>Target Details:</h2>

<p>
{{target.description}}
</p>

<table>
<tr>
<td class="info-table">

<h3><a href="{{url_for("targets.show_core",id=target.core.id)}}">Core Details</a></h3>

{{ common.device_info_table(target.device) }}

</td>
<td class="info-table">

<h3><a href="{{url_for("targets.show_device",id=target.device.id)}}">Device Details</a></h3>

{{common.core_info_table(target.core)}}

</td>
<td class="info-table">

<h3><a href="{{url_for("targets.show_board",id=target.board.id)}}">Board Details</a></h3>

{{common.board_info_table(target.board)}}

</td></tr></table>

<h2>Available Experiments:</h2>

{{common.experiments_list_table(experiments, target=target)}}

{% endblock %}


